body {
	background-color: white;
	font: 12px Arial;
}

path {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

.revLine {
	stroke: red;
	stroke-width: 2;
	fill: none;
}

.cumeLine {
	stroke: grey;
	stroke-width: 2;
}


.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.annotation path {
  fill: none;
  stroke: blue;
  stroke-width: 2;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background: #000;
  color: #fff;
}

.custom {
	fill: white;
	border: 1px solid black;
}

#slideTitle {
	font-width: bold;
	font-size: 16px;
}

#textContent {
	font-size: 14px;
}

div.tooltip-donut {
     position: absolute;
     text-align: center;
     padding: .5rem;
     background: #FFFFFF;
     color: #313639;
     border: 1px solid #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 1.3rem;
}